<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My New Website</title>
</head>
<body>
  <header>
    <h1>PART LOCATOR</h1>
    <p>Your consolidated parts search!</p>
  </header>

  <main>
    <p>Enter your vehicle details below and search across all of the major parts stores at once!</a></p>

    <select name="year" id="year">
      <option value="Year">Year</option>
      <% 1930.upto(Date.today.year) do |year| %>
        <option value=<%=year%>><%=year%></option>
      <% end %>
    </select>
  </main>

  <footer>
    <p>Hayden Gray's website.</p>
  </footer>
</body>